---
---
<!DOCTYPE html>

<html lang="en">
    <head>
        {% include header.html %}
        <meta name="pagename" content="Greg's Retargettable Macro Assembler" />
        <title>GASM - Gregory Norton</title>
    </head>
    <body>
        {% include navbar.html %}
        
        <main role="main">
            <p class="text-center">This page is currently under construction, redirecting to repository</p>
        </main>
        
        {% include scripts.html %}
        <script>
            $(function () {
                setTimeout(function () {
                    window.location = 'https://github.com/stuffandahalf/GASMIC';
                }, 2000);
            });
        </script>
    </body>
</html>
