---
---
<!DOCTYPE html>

<html lang="en">
    <head>
        {% include header.html %}
        <meta name="pagename" content="Arduino HM62256 Library" />
        <title>HM62256 Library - Gregory Norton</title>
    </head>
    <body>
        {% include navbar.html %}
        
        <main role="main">
            <p class="text-center">This page is currently under construction, redirecting to repository</p>
        </main>
        
        {% include scripts.html %}
        <script lang="text/javascript">
            $(function () {
                setTimeout(function () {
                    window.location.href = 'https://github.com/stuffandahalf/HM62256_Arduino_Library';
                }, 2000);
            });
        </script>
    </body>
</html>
