main > div {
    width: 80vw;
    margin: auto;
}

.card-container {
    width: 60%;
    margin: auto;
}


.showcase {
    display: inline-block;
    width: 30%;
    padding-bottom: 2%;
}

@media screen and (max-width: 960px) {
    main > div {
        width: 100%;
    }
    
    .card-container {
        width: 80%;
    }
    
    .showcase {
        display: initial;
    }
}
