main > div {
    width: 80vw;
    margin: auto;
}

.card-container {
    width: 60%;
    margin: auto;
}

@media screen and (max-width: 960px) {
    main > div {
        width: 100%;
    }
    
    .card-container {
        width: 80%;
    }
}
