<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Gregory Norton</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menubar" aria-controls="menubar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="menubar">
        <ul class="navbar-nav mr-auto">
            <li class="navbar-nav mr-auto">
                <a class="nav-link" href="/experience">Experience</a>
            </li>
            <li class="navbar-nav mr-auto">
                <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="navbar-nav mr-auto">
                <a class="nav-link" href="/skills">Skillset</a>
            </li>
        </ul>
    </div>
</nav>
