<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Gregory Norton</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menubar" aria-controls="menubar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="menubar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li id="navbar_contact" class="nav-item">
                <a class="nav-link" href="/contact">Contact Me</a>
            </li>
        </ul>
    </div>
</nav>

<script>
window.onload = function() {
    var pageName = document.querySelector("meta[name=\"pageName\"]").getAttribute("content");
    document.getElementById("navbar_" + pageName).classList.add('active');
}
</script>
