---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include header.html %}
        <meta name="pagename" content="Industry experience" />
        <title>Industry Experience - Gregory Norton</title>
    </head>
    <body>
        {% include navbar.html %}
        
        <main role="main">
            <h1 class="text-center">Industry Experience</h1>
            <div id="mohltc" class="card-container">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Ministry of Health and Long-Term Care</h3>
                        <h6 class="card-subtitle">May 2018 - Present</h6>
                        <hr>
                        <dl>
                            <dt>Ambulance Service Review (ASR)</dt>
                            <dd>
                                <ul>
                                    <li>Lead developer on architecture redesign.</li>
                                    <li>Reduced >50 hours per year from internal development time by automating document parsing and data updating.</li>
                                    <li>Reduced business workload by allowing them to directly update data.</li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>Updated Development Workflow</dt>
                            <dd>
                                <ul>
                                    <li>Participated in initial research and configuration of Jenkins continuous integration.</li>
                                    <li>Assisted in migration of existing code bases to Github.</li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </main>
        
        {% include scripts.html %}
    </body>
</html>
