---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include header.html %}
        <meta name="pagename" content="Industry experience" />
        <title>Industry Experience</title>
        
        <style>
            #mohltc {
                width: 60%;
                margin: auto;
            }
        </style>
    </head>

    <body>
        {% include navbar.html %}
        
        <main role="main">
            <h1 class="text-center">Industry Experience</h1>
            <div id="mohltc" class="card-container">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Ministry of Health and Long-Term Care</h3>
                        <h6 class="card-subtitle">May 2018 - Present</h6>
                        <hr>
                        
                    </div>
                </div>
            </div>
            <br>
            <div id="quicked" class="card-container">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">QuickEd</h3>
                        <h6 class="card-subtitle">April 2015 - June 2016</h6>
                        <hr>
                        
                    </div>
                </div>
            </div>
        </main>
        
        {% include footer.html %}
    </body>
</html>
