---
---
<!DOCTYPE html>

<html lang="en">
    <head>
        {% include header.html %}
        <meta name="pagename" content="My Skillset" />
        <title>Skillsets - Gregory Norton</title>
        
        <style>
            #skillsets * {
                text-align: initial;
            }
        </style>
    </head>
    <body>
        {% include navbar.html %}
        
        <main role="main">
            <h1 class="text-center">My Skillsets</h1>
            <div class="container text-center" id="skillsets">
                <div class="container showcase" id="intrapersonal">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Programming and Other Languages</h5>
                            <dl>
                                <dt>Systems Languages</dt>
                                <dd>
                                    <ul>
                                        <li>C/C++/Arduino</li>
                                        <li>Rust</li>
                                        <li>x86 Assembly (NASM & GAS)</li>
                                    </ul>
                                </dd>
                                <dt>Object Oriented Languages</dt>
                                <dd>
                                    <ul>
                                        <li>Java</li>
                                        <li>C#</li>
                                        <li>Visual BASIC</li>
                                        <li>Objective-C</li>
                                        <li>SmallTalk</li>
                                    </ul>
                                </dd>
                                <dt>Scripting Languages & Shells</dt>
                                <dd>
                                    <ul>
                                        <li>Python</li>
                                        <li>Ruby</li>
                                        <li>Perl</li>
                                        <li>BASIC</li>
                                        <li>VBScript</li>
                                        <li>Bash/Sh</li>
                                        <li>Batch</li>
                                    </ul>
                                </dd>
                                <dt>Web Development</dt>
                                <dd>
                                    <ul>
                                        <li>HTML</li>
                                        <li>CSS</li>
                                        <li>Javascript (+ jQuery)</li>
                                        <li>PHP</li>
                                        <li>ASP.NET</li>
                                        <li>Classic ASP</li>
                                    </ul>
                                </dd>
                                <dt>Functional Languages</dt>
                                <dd>
                                    <ul>
                                        <li>Haskell</li>
                                        <li>Elixir</li>
                                    </ul>
                                </dd>
                                <dt>Miscellaneous</dt>
                                <dd>
                                    <ul>
                                        <li>XML + XSLT</li>
                                        <li>JSON</li>
                                        <li>Lex/Flex</li>
                                        <li>Yacc/Bison</li>
                                        <li>Makefiles</li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        {% include scripts.html %}
    </body>
</html>
