---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include header.html %}
        <meta name="pagename" content="Blog" />
        <title>Blog - Gregory Norton</title>
    </head>
    <body>
        {% include navbar.html %}
        
        <main role="main">
            <h1 class="text-center">Blog in miscellaneous development</h1>
            <div class="card-container">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Debugging CS:GO on wayland</h3>
                        <h6 class="card-subtitle">July 31 2020</h6>
                        <hr>
                        <p>This is a test</p>
                    </div>
                </div>
            </div>
        </main>
        
        {% include scripts.html %}
    </body>
</html>
