/* concern.css      */
/* Gregory Norton   */
/* 500766165        */
/* CPS621           */

#concern img {
    width: 450px;
}

#concern {
    animation-name: concern;
    animation-duration: 7s;
}
@keyFrames concern {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
