/* credits.css      */
/* Gregory Norton   */
/* 500766165        */
/* CPS621           */

#credits #text {
    animation-name: text;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-play-state: paused;
    
    /*text-align: center;*/
    /*margin-left: 5;*/
    font-size: 100%;
}
@keyFrames text {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }
    66% {
        opacity: 1;
        transform: rotate(360deg);
    }
    /*100% {
        opacity: 1;
        transform: rotate(0deg);
    }*/
}

/* I have no idea why it does a second rotate but I don't mind it */
