/* credits.css      */
/* Gregory Norton   */
/* 500766165        */
/* CPS621           */

#credits #text {
    animation-name: text;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-play-state: paused;
}
@keyFrames text {
    from {
        
    }
    to {
        
    }
}
