/* friends.css      */
/* Gregory Norton   */
/* 500766165        */
/* CPS621           */

#friends img {
    float: left;
    height: 290px;
    padding: 3px;
}

#friends h1 {
    font-size: 70%;
}

#friends {
    animation-name: friends;
    animation-duration: 10s;
}
@keyFrames friends {
    0% {
    
    }
    100% {
    
    }
}
