/* friends.css      */
/* Gregory Norton   */
/* 500766165        */
/* CPS621           */

#friends img {
    float: left;
    height: 290px;
    padding: 3px;
}

#friends h1 {
    font-size: 70%;
}

#friends {
    animation-name: friends;
    animation-duration: 10s;
}
@keyFrames friends {
    0% {
        opacity: 0;
        transform: translateX(-2500px);
    }
    15% {
        opacity: 1;
        transform: translateX("0");
    }
}
