/* intro.css        */
/* Gregory Norton   */
/* 500766165        */
/* CPS621           */

#intro1 #title {
    animation-name: intro_title;
    animation-duration: 10s;
    #animation-direction: alternate;
    #animation-iteration-count: 1;
    animation-timing-function: linear;
}
@keyFrames intro_title {
    0% {
        transform: scale(0.75);
        #transform: rotate(180deg);
        opacity: 0;
    }
    25% {
        transform: scale(1.25);
        #transform: rotate(360deg);
    }
    25% {
        transform: scale(0.75);
        opacity: 1;
    }
    50% {
    
    }
    70% {
        
    }
    100% {
        opacity: 0;
    }
}

#intro2 {
    animation-name: intro2;
    animation-duration: 10s;
    /*animation-timing-function: linear;*/
    animation-timing-function: ease-in-out;
}
@keyFrames intro2 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }   
}
