#intro #title {
    animation-name: intro_title;
    animation-duration: 4s;
    #animation-direction: alternate;
    #animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-play-state: paused;
}
@keyFrames intro_title {
    0% {
        transform: scale(0.75);
        #transform: rotate(180deg);
        #opacity: 0;
    }
    25% {
        transform: scale(1.25);
        #transform: rotate(360deg);
    }
    50% {
        transform: scale(0.75);
    }
    100% {
        opacity: 0;
    }
}
