/* relax.css        */
/* Gregory Norton   */
/* 500766165        */
/* CPS621           */

#relax img {
    float: left;
    height: 270px;
    padding: 3px;
}

#relax {
    animation-name: relax;
    animation-duration: 10s;
    animation-timing-function: linear;
}
@keyFrames relax {
    0% {
        transform: translateY(-1500px);
    }
    15% {
        transform: translateY(100px);
    }
    85% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(3000px);
    }
}
