/* tricks.css       */
/* Gregory Norton   */
/* 500766165        */
/* CPS621           */

#trick1 video {
    width: 600px;
}

#trick1 {
    animation-name: trick1;
    animation-duration: 9s;
}
@keyFrames trick1 {
    0% {
        transform: translateX(-2500px);
        transform: translateY(-2500px);
    }
    15% {
        transform: translateX(512px);
        transform: translateY(-20px);
    }
    85% {
        transform: translateX(512px);
        transform: translateY(-20px);
    }
    100% {
        transform: translateX(-2500px);
        transform: translateY(-2500px);
    }
}

#trick2 video {
    width: 350px;
}

#trick2 {
    animation-name: trick2;
    animation-duration: 7s;
}
@keyFrames trick2 {
    0% {
        transform: translateX(4000px);
    }
    15% {
        transform: translateX(0);
    }
    85% {
        transform: translateX(0);
    }
    100% {
        transform: translateY(-3000px);
    }
}
