<h1>Blog</h1>

<form>
	<input type="text" ng-model="query" placeholder="Filter"
		aria-label="Search box" />
</form>

<!--<div class="card" ng-repeat="article in articles">
	<div class="card-body">
		<h5 class="card-title">{{ article.title }}</h5>
		<h6 class="card-subtitle">{{ article.date }}</h6>
		<br />
		<p class="card-text">{{ article.abstract }}</p>
	</div>
</div>-->

<div class="card" ng-repeat="article in blogData.blog.children"
	ng-click="goto(article)">
	<div class="card-body">
		<h5 class="card-title" ng-bind="u.getContents(article, 'title');"></h5>
		<h6 class="card-subtitle" ng-bind="u.getDate(article, 'date');"></h6>
		<br />
		<p class="card-text" ng-bind="u.getContents(article, 'abstract');"></p>
	</div>
</div>
