<h1>Home</h1>
<div class="card">
	<div class="card-body">
		<h5 class="card-title">About Me</h5>
		<div class="card-text">
			<p>Welcome to my site! I'm a computing enthusiast interested in all
			facets of the industry from silicon to operating systems to web
			technologies to machine learning to graphics.</p>
			
			<p>I recently graduated from Ryerson University and am now employed
			SS&amp;C as a software developer where I am learning to work with
			VueJS, as well as Selenium through the Java API.</p>
			
			<p>My latest projects involve extensive research into operating
			system design, starting from older systems like MS-DOS and Version 7
			Unix. The aim is to construct a simple operating system that is 
			compliant with modern standards, while being as backwards-compatible
			as possible.</p>
			
			<hr />
			<a class="card-link" href="https://github.com/stuffandahalf">My Github</a>
			<a class="card-link" href="https://www.linkedin.com/in/gregory-norton-4b40a21b0/">My LinkedIn</a>
			<a class="card-link" href="mailto:gregory.norton@me.com">Email me</a>
		</div>
	</div>
</div>
